@font-face {
  font-family: "Noto";
  src: local("fonts/NotoSerifDisplay-Regular.ttf");
}
.main {
  position: relative;
  margin-left: 30%;
  margin-top: 6%;
}
.content {
  position: absolute;
  top: 0;
}
.bg {
  position: absolute;
  left: 100px;
  top: 100px;
}
.bg_img {
  width: 40%;
  height: auto;
}
.person {
  position: absolute;
  left: 140px;
  top: 320px;
}
.person_img {
  width: 30%;
  height: auto;
}
.frame {
  position: absolute;
  top: 0;
}
.frame_img {
  width: 50%;
  height: auto;
}
.plate {
  position: absolute;
  margin-top: 35%;
  margin-left: 18%;
}
.plate_img {
  width: 50%;
  height: auto;
}
.name {
  position: absolute;
  top: 5px;
  left: 69px;
  text-align: center;
}
.nameplate {
  font-size: 1.1rem;
  font-family: "Noto Serif", serif;
  text-align: center;
}
.quote {
  position: absolute;
  margin-top: 170px;
  margin-left: 165px;
  margin-right: 1050px;
  text-align: right;
}
.quote_txt {
  color: azure;
  font-size: 2rem;
  font-style: italic;
  font-family: "Noto Serif", serif;
}
